<h1>Order</h1>

<table>
  <% @orders.each do |order| %>
    <tr>
      <td>Order ID :<%= order.id %><td>
      <td> || Member ID : <%= order.member_id %></td>
      <td> || <%= order.created_at %></td>
      <td><%= button_to 'Edit', edit_order_path(order), method: 'get'%></td>
      <td><%= button_to 'Remove', order_path(order), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>

<%= link_to "Add a New Order", new_order_path %>