<h1>Beli Obat</h1>

<table>
  <% @items.each do |item| %>
    <tr>
      <td>Item ID : <%= item.id%><td>
      <td><%= link_to item.item_name, item_path(item) %></td>
      <td>|| Price: <%= item.item_price%></td>
      <%= form_for @detail do |detail| %>
        <%= form.text_field :quantity, placeholder: "quantity" %>
        <%= form.submit %>
      <% end %>
    <% end %>
</table> 

