<h3>Update Transaction</h3>
<%= form_with model: @transaction do |form| %>
  <%= form.text_field :member_id, placeholder: "member_id" %>
  <%= form.text_field :item_id, placeholder: "item_id" %>
  <%= form.text_field :price, placeholder: "price" %>
  <%= form.text_field :quantity, placeholder: "quantity" %>
  <%= form.submit %>
<% end %>